<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59089292731-s4fg1tlih72b9oi76l0umjt49fanri87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59089292731-s4fg1tlih72b9oi76l0umjt49fanri87</string>
	<key>API_KEY</key>
	<string>AIzaSyDN2yjaPU-fHQtnS9R8tgjEoxbVxi5FoKM</string>
	<key>GCM_SENDER_ID</key>
	<string>59089292731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capstone.Text-Trade</string>
	<key>PROJECT_ID</key>
	<string>text-trade-application</string>
	<key>STORAGE_BUCKET</key>
	<string>text-trade-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59089292731:ios:99d8afb1d4e9003632c89e</string>
	<key>DATABASE_URL</key>
	<string>https://text-trade-application.firebaseio.com</string>
</dict>
</plist>