<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622685527142-0o7gb15bnmh6o3iu2l7gkqgvmbsldujr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622685527142-0o7gb15bnmh6o3iu2l7gkqgvmbsldujr</string>
	<key>API_KEY</key>
	<string>AIzaSyCDfCvtCnuwLrtt--FeYJj8MqB30D9gnl0</string>
	<key>GCM_SENDER_ID</key>
	<string>622685527142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrisrehagen.Text-Trade</string>
	<key>PROJECT_ID</key>
	<string>text-trade-7cb9f</string>
	<key>STORAGE_BUCKET</key>
	<string>text-trade-7cb9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622685527142:ios:c500497992ed9571f5e1a7</string>
	<key>DATABASE_URL</key>
	<string>https://text-trade-7cb9f.firebaseio.com</string>
</dict>
</plist>